<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>

    {% block title %}
      Интернет магазин|{{ title|title }}
    {% endblock %}

  </title>

  {% block css %}

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

  {% endblock %}


</head>
  <body>
    <div class="container">

      {% block menu %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
      {% endblock %}

      <div class="content">
        {% block content %}

        {% endblock %}
      </div>

      {% block footer %}

        <div class="footer">
          <div><a class="back_button" href="#">Наверх!</a></div>
          <p class="copyright">Все права защищены&copy;</p>
        </div>

      {% endblock %}

      {% block js %}

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

      {% endblock %}
    </div>
  </body>
</html>
